.main {
    width: 40%;
    height: 75vh;
    border: 2px solid black;
   margin: 0 auto;
    
}

.abc{
    text-align: center;
}

.rrr{
    border-color: black;
}

.ttt{
    border: 2px solid black;
    border-radius: 10vh;
    
}
 
.tyy{
margin-left:10px ;
}


.umm{
    margin-left: 80px;
}

.text{
    width: 99%;
    height: 200px;
    border: none;
    margin-right: 2px;
}



